<div class="container">
 <div class="row">
 <div id="col-4 profile-picture" src="/img">
 </div>
 <div class="profile-info">
 <div id="user-fullname">
 <p>Name: ...</p>
 </div>
<div id="user-coursehome">
<p>Course home: ... </p>
</div>
<div id="user-handicap">
<p>Your Handicap: ... </p>
</div>
</div>

<div> Another 18 in the books? <a href="/scores">Input Score</a></div> 



<script src="/js/profile.js"></script>
